<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.ShareToolResource.Errors_Error</title>
</head>
<body>
    <hgroup>
        <h1>@Resources.ShareToolResource.Errors_Error</h1>
        <h2>@Resources.ShareToolResource.Errors_WhileProcessingRequest</h2>
    </hgroup>
</body>
</html>

